@import "./fonts.scss";
@import "./reset/reset.scss";
@import "./components/header.scss";
@import "./components/skills.scss";
@import "./components/portfolio.scss";
@import "./components/video.scss";
@import "./components/price.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
@import "./components/adept.scss";

html{
    background: rgb(0, 0, 0);
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    //font-family: 'Merriweather';
    //font-family: 'Roboto';
    
}

html.light{
    background-color: white;
    .name{
        h2{
            background: white;
            color: black;
        }
        hr{
            background: black;
        }
    }
    .skills-items {
        .card{
            h4{
                color: black;
            }
            p{
                color: black;
            }
        }
    }
    .navi{
        button{
            color: black;
        }
        button:hover{
            color: rgb(255, 255, 255);
        }
        .active{
            color: rgb(255, 255, 255);
          }
    }
    .active-pic{
        display: flex;
    }
      
    .price-cards{
        .price-card{
            h4{
                color: black;
            }
            .p_all{
                p{
                    color: black;
                }
            }

        }
    }
    .menu{
        .menu-item{
            .dark-btn{
                display: inline;
            }
            .light-btn{
                display: none;
            }
        }
    }
}


.container {
    max-width: 1440px;
    
    margin: 0 auto;
    //border: 1px solid white;
    
}
button{
    background: none;
    border: none;
}
.name{
    width: 700px;
    height: 80px;
    position: relative;
    align-items: center;
    margin:0 auto;
    justify-content: space-evenly;
    max-width:700px;
    
    
    
    h2{
        color: #BDAE82;
        font-family: 'Merriweather';
        font-size: 40px;
        font-weight: 700;
        line-height: 80px;
        padding: 0 20px;
        background: black;
        z-index: 2;
        position: relative;
        width: max-content;
        margin: 0 auto;
        top: 0;
       
    }
    hr{
        height: 2px;
        background-color: #BDAE82;
        border: none;
        position: relative;
        top: 50%;
        z-index: 1;
        margin: 0;
    }

}
