@import "./fonts.scss";
@import "./reset/reset.scss";
@import "./components/header.scss";
@import "./components/skills.scss";
@import "./components/portfolio.scss";
@import "./components/video.scss";
@import "./components/price.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
@import "./components/adept.scss";

html{
    background: rgb(0, 0, 0);
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    //font-family: 'Merriweather';
    //font-family: 'Roboto';
}

html.light{
    background: rgb(255, 255, 255);
    h2{
        background: white;
        color: black;
    }
    .skills-items {
        .card{
            h4{
                color: black;
            }
            p{
                color: black;
            }
        }
    }
    .navi{
        button{
            color: black;
        }
        button:hover{
            color: rgb(255, 255, 255);
        }
        .active{
            color: rgb(255, 255, 255);
          }
    }
    .active-pic{
        display: flex;
    }
      
    .price-cards{
        .price-card{
            h4{
                color: black;
            }
            p{
                color: black;
            }

        }
    }
    .menu{
        .menu-item{
            .dark-btn{
                display: inline;
            }
            .light-btn{
                display: none;
            }
        }
    }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
    max-width: 1440px;
    
    margin: 0 auto;
    //border: 1px solid white;
    
}
button{
    background: none;
    border: none;
}
.name{
    position: relative;
    max-width: 700px;
    left: calc((50% - 350px));
    hr{
        size: 5px;
        width: 100%;
        color: #000000;
    }
    h2{
        color: #BDAE82;
        font-family: 'Merriweather';
        font-size: 40px;
        font-weight: 700;
        line-height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: black;
        padding: 5px 20px;
        width: min-content;
        transform: translate(-50%, -50%);
    }
}
