@import "./fonts.scss";
@import "./reset/reset.scss";
@import "./components/header.scss";
@import "./components/skills.scss";
@import "./components/portfolio.scss";
@import "./components/video.scss";
@import "./components/price.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
@import "./components/adept.scss";

html{
    background: rgb(0, 0, 0);
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    //font-family: 'Merriweather';
    //font-family: 'Roboto';
}

html.light{
    background: rgb(255, 255, 255);
    h2{
        background: white;
        color: black;
    }
    .skills-items {
        .card{
            h4{
                color: black;
            }
            p{
                color: black;
            }
        }
    }
    .navi{
        button{
            color: black;
        }
        button:hover{
            color: rgb(255, 255, 255);
        }
        .active{
            color: rgb(255, 255, 255);
          }
    }
    .active-pic{
        display: flex;
    }
      
    .price-cards{
        .price-card{
            h4{
                color: black;
            }
            p{
                color: black;
            }

        }
    }
    .menu{
        .menu-item{
            .dark-btn{
                display: inline;
            }
            .light-btn{
                display: none;
            }
        }
    }
}


.container {
    max-width: 1440px;
    
    margin: 0 auto;
    //border: 1px solid white;
    
}
button{
    background: none;
    border: none;
}
.name{
    width: 700px;
    height: 80px;
    position: relative;
    align-items: center;
    margin:0 auto;
    justify-content: space-evenly;
    max-width:700px;
    border: 1px solid white;
    
    
    h2{
        color: #BDAE82;
        font-family: 'Merriweather';
        font-size: 40px;
        font-weight: 700;
        line-height: 80px;
        position: relative;
        flex:1 0 auto;
        
        width: max-content;
        margin-left: 350px;
    }
    .line{
        
        color: #BDAE82;
        width:700px;
        height:2px;
        
        
    }

}
