@media (max-width:768px){
  html{
    .name{
      h2{
        font-size: 32px;
        
      }
    }
    .container {
      margin: 0 auto;
      max-width: 768px;
      
    }
  }
  .header{
    height: 590px;
    padding: 0 40px;

    .menu-item{
      .mobile{
        display: block;
      }
      .nav-active{
        position: fixed;
        top: 0;
        right: -500px;
        display: block;
        background-color: black;
        width: 400px;
        height: 100vh;
        z-index: 5;
        transition: 0.5s linear;
        .nav{
          flex-direction: column;
          position: absolute;
          align-items: flex-start;
          left: 127px;
          top: 134px;
          
        }
        .close{
          width: 50px;
          height: 50px;
          background-image: url(../imgs/close.png);
          position: absolute;
          right: 60px;
          top: 20px;
        }
        .close:hover{
          width: 50px;
          height: 50px;
          background-image: url(../imgs/close-hover.png);
        }
        .close:active{
          .nav-active{
            display: none;
          }
        }
      }
    }
  }
  .header-contant {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 250px;
    h1{
      font-size: 32px;
      line-height: 64px;
    }
    p{
      font-size: 20px;
      line-height: 24px;
      margin-top: 20px;
     }
     .h-btn{
       margin-top: 58px;
     }
  }
  .name{
    
    hr{
      max-width: 364px;
      left: calc((50% - 182px));
      position: relative;
    }

    h2{
      font-size: 32px;
      line-height: 40px;
      
    }
  }
  .skills{
    padding-top: 80px;
    .skills-items{
      padding-left: 15px;
      padding-right: 15px;
      flex-wrap: wrap;
      row-gap: 80px;
      .card{
        
        
        h4{
          color: white;
          font-family: 700;
          font-size: 20px;
          padding-top: 40px;
          padding-bottom: 30px;
        }
        p{
          
          line-height: 22px;
        }
      }
    }
  }
  .portfolio{
    margin-top: 150px; 
    .navi{
      margin-top: 50px;
      flex-wrap: wrap;
      padding: 0 60px;
    }
  }

  .video{
    margin-top: 75px;
    .play{
      margin-top: 50px;
      height: 418px;
      .play-btn{
        width: 65px;
        background-image: url(../imgs/play.svg);
        height: 65px;
        
        
      }
      .play-btn:hover{
        background: none;
        width: 65px;
        background-image: url(../imgs/play-hover.svg);
        height: 65px;
      }
    }
  }
  .price{
    margin-top: 80px;
    .price-cards{
      flex-wrap: wrap;
      margin-top: 50px;
      gap: 47px;
      .price-card{
        width: 420px;
      }
    }
  }
  .contact{
    margin-top: 85px;
    height: 600px;
    .contact-form{
      
      position: relative;
      right: 0;
      top: 55px;
      margin: 0 auto;
      align-items: center;
      max-width: 450px;
      gap: 22px;
      input{
        width: 100%;
      }
      p{
        font-size: 32px;
        line-height: 64px;
      }
      .input-mess{
        margin-bottom: 5px;
      }
    }
  }

  .footer{
    flex-direction: column;
    padding: 28px 0 40px 0;
    align-items: center;
    height: 190px;
    .left-section{
      span{
        line-height: 24px;
      }

    }
    .middle-section{
      p{
        line-height: 24px;
      }
    }
  }



}