.header{
  width: 100%;
  background-image: url(../imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
span{
  color: white;
}

.logo-btn{
  border: none;
  color: white;
  background-image: url(../imgs/logo.svg);
  width: 50px;
  height: 50px;
}
.logo-btn:hover{
  background-image: url(../imgs/logo-hover.svg);
}
.menu{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding: 0 20px;
  

  .menu-item{
    display: flex;
    gap: 30px;
    align-items: center;
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-weight: 400;
      
    }
    a:hover{
      color: #bdae82;
    }
    .lang{
      display: flex;
      gap: 9px;
      button{
        font-size: 20px;
        font-weight: 600;
        color: white;
      }
      button:hover{
        background: none;
        color: #bdae82;
      }
      span{
        font-size: 20px;
      }
    }
    .color{
      button:hover{
        background: none;
      }
      .dark-btn{
        display: none;
        width: 45px;
        background-image: url(../imgs/dark.svg);
        height: 45px;
        background-repeat: no-repeat;
      }
      .dark-btn:hover{
        width: 45px;
        background-image: url(../imgs/dark-hover.svg);
        height: 45px;
        background-repeat: no-repeat;
      }
      .light-btn{
        width: 45px;
        background-image: url(../imgs/light.svg);
        height: 45px;
      }
      .light-btn:hover{
        width: 45px;
        background-image: url(../imgs/light-hover.svg);
        height: 45px;
      }
    }
  }
}
.header-contant{
  margin-top: 180px;
  margin-left: 80px;
  h1{
    color: white;
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 700;
  }
  p{
    font-size: 20px;
    color: white;
    line-height: 40px;
    margin-top: 35px;
  }
  .h-btn{
    font-size: 20px;
    line-height: 40px;
    background: #bdae82;
    color: black;
    padding: 8px 74px;
    margin-top: 25px;
  }
  .h-btn:hover{
    color: white;
  }
}