.portfolio{
  margin-top: 120px;  
  .navi{
    margin-top: 60px;
    display: flex;
    gap: 5px;
    justify-content: center;
    button{
      border: 2px solid #BDAE82;
      color: #BDAE82;
      width: 220px;
      height: 55px;
      font-size: 20px;
      line-height: 40px;
      transition: 0.2s linear;
    }
    button:hover{
      color: black;
      box-shadow: inset 0 0 0 2em #BDAE82; 
    }
    .active{
      background: #BDAE82;
      color: black;
    }
    
  }

  .pic-winter {
    margin-top: 60px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }

  .pic-spring {
    margin-top: 60px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
  }

  .pic-summer {
    margin-top: 60px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
  }

  .pic-autumn {
    
    margin-top: 60px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
  }

  img{
    transition: 1s;
  }

  img:hover{
    transform: scale(1.1);
  }
  
  

}