.price{
  margin-top: 140px;
  .price-cards{
    
    display: flex;
    gap: 25px;
    justify-content: center;
    .price-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      border: 4px solid #BDAE82;
      width: 450px;
      padding-top: 40px;
      padding-bottom: 40px;
      
      h4{
        font-size: 28px;
        font-family: 'Merriweather';
        font-weight: 700;
        line-height: 56px;
        color: white;
      }
      span{
        font-size: 24px;
        font-family: 'Merriweather';
        font-weight: 700;
        line-height: 48px;
        color: rgba(189, 174, 130, 1);
        margin-top: 20px;
      }
      .p_all{
        display: flex;
        flex-direction: column;
        margin-top: 13px;
        
        p{
          font-size: 18px;
          line-height: 15px;
          color: rgb(255, 255, 255);
          text-align: center;
          
        }
      }
      .price-btn{
        font-size: 20px;
        line-height: 40px;
        color: rgb(0, 0, 0);
        background: #BDAE82;
        padding: 8px 43px;
        margin-top: 50px;
      }
      .price-btn:hover{
        color: white;
      }
    }
  }
}