.contact#contact 
  form.contact-form 
    p.form-title(data-i18n-key="contact-me") Contact me
    input.input-email(name="email" type="email" placeholder="E-mail" )
    input.input-tel(name="tel" type="tel" placeholder="Phone")
    input.input-mess(name="message" type="text" placeholder="Message")
    button.contact-form__button(type="submit" data-i18n-key="send-message") Send message
