.contact#contact 
  form.contact-form 
    p.form-title Contact me
    input.input-email(name="email" type="email" placeholder="E-mail")
    input.input-tel(name="tel" type="tel" placeholder="Phone")
    input.input-mess(name="message" type="text" placeholder="Message")
    button.contact-form__button(type="submit") Send message
