.footer 
  .left-section 
    span ©
    span 2022
    span github
  .middle-section 
    p Rolling Scopes School
  .right-section
    a.inst(href="https://www.instagram.com")
       
    a.fb(href="https://www.facebook.com")
      
    a.tw(href="https://twitter.com")
       
    a.pint(href="https://www.pinterest.com")
       