.header 
  .menu
    .logo 
      button.logo-btn 
       
    .menu-item
      a(href="#price") Skills
      a(href="#portfolio") Portfolio
      a(href="#video") Video
      a(href="#price") Price
      a(href="#contact") Contacts
      .lang
        button.en-btn en
        span /
        button.ru-btn ru
      .color
        button.dark-btn 
        button.light-btn
          

  .header-contant 
    h1 Alexa Rise 
    p Save sincere emotions, romantic feelings and<br>happy moments of life together with professional<br>photographer Alexa Rise
    button.h-btn Hire me 

