.header 
  .menu
    .logo 
      button 
        img(src="./assets/imgs/logo.svg", alt="")
    .menu-item
      a(href="") Skills
      a(href="") Portfolio
      a(href="") Video
      a(href="") Price
      a(href="") Contacts
      .lang
        button en
        span /
        button ru

  .header-contant 
    h1 Alexa Rise 
    p Save sincere emotions, romantic feelings and<br>happy moments of life together with professional<br>photographer Alexa Rise
    button Hire me 

