.header 
  .menu
    .logo 
      button.logo-btn
       
    .menu-item
      .nav-menu.nav-active
        .nav
          a(href="#skills", data-i18n-key="skills") Skills
          a(href="#portfolio", data-i18n-key="portfolio") Portfolio
          a(href="#video", data-i18n-key="video") Video
          a(href="#price", data-i18n-key="price") Price
          a(href="#contact", data-i18n-key="contacts") Contacts
        button.close
      .lang
        button.en-btn.act en
        span /
        button.ru-btn ru
      button.mobile
      .color
        button.dark-btn 
        button.light-btn
          

  .header-contant 
    h1(data-i18n-key="hero-title") Alexa Rise 
    p(data-i18n-key="hero-text") Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
    button.h-btn(data-i18n-key="hire") Hire me 

