.header 
  .menu
    .logo 
      button.logo-btn 
       
    .menu-item
      a.lang(href="#price", key="skills") Skills
      a.lang(href="#portfolio", key="portfolio") Portfolio
      a.lang(href="#video", key="video") Video
      a.lang(href="#price", key="price") Price
      a.lang(href="#contact", key="contacts") Contacts
      .lang
        button.en-btn.translate(id="ru") en
        span /
        button.ru-btn.translate(id="ru") ru
      .color
        button.dark-btn 
        button.light-btn
          

  .header-contant 
    h1.lang(key="hero-title") Alexa Rise 
    p.lang(key="hero-text") Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
    button.h-btn.lang(key="hire") Hire me 

