include ../mixins/name-section.pug

.portfolio
  +name-section("Portfolio")

  .gallery
    .navi 
      button Winter
      button Spring
      button Summer
      button Autumn
    .pic-winter 
      img(src="./assets/imgs/winter1.jpg", alt="")
      img(src="./assets/imgs/winter2.jpg", alt="")
      img(src="./assets/imgs/winter3.jpg", alt="")
      img(src="./assets/imgs/winter4.jpg", alt="")
      img(src="./assets/imgs/winter5.jpg", alt="")
      img(src="./assets/imgs/winter6.jpg", alt="")
    .pic-sping 
      img(src="./assets/imgs/sping1.jpg", alt="")
      img(src="./assets/imgs/sping2.jpg", alt="")
      img(src="./assets/imgs/sping3.jpg", alt="")
      img(src="./assets/imgs/sping4.jpg", alt="")
      img(src="./assets/imgs/sping5.jpg", alt="")
      img(src="./assets/imgs/sping6.jpg", alt="")
    .pic-summer 
      img(src="./assets/imgs/summer1.jpg", alt="")
      img(src="./assets/imgs/summer2.jpg", alt="")
      img(src="./assets/imgs/summer3.jpg", alt="")
      img(src="./assets/imgs/summer4.jpg", alt="")
      img(src="./assets/imgs/summer5.jpg", alt="")
      img(src="./assets/imgs/summer6.jpg", alt="")
    .pic-autumn 
      img(src="./assets/imgs/autumn1.jpg", alt="")
      img(src="./assets/imgs/autumn2.jpg", alt="")
      img(src="./assets/imgs/autumn3.jpg", alt="")
      img(src="./assets/imgs/autumn4.jpg", alt="")
      img(src="./assets/imgs/autumn5.jpg", alt="")
      img(src="./assets/imgs/autumn6.jpg", alt="")