include ../mixins/name-section.pug

.portfolio#portfolio
  +name-section("Portfolio")

  .gallery
    .navi 
      button.w-btn.active(data-i18n-key="winter") Winter
      button.sp-btn(data-i18n-key="spring") Spring
      button.s-btn(data-i18n-key="summer") Summer
      button.a-btn(data-i18n-key="autumn") Autumn
    .pic-winter
      img(src="./assets/imgs/winter1.jpg", alt="")
      img(src="./assets/imgs/winter2.jpg", alt="")
      img(src="./assets/imgs/winter3.jpg", alt="")
      img(src="./assets/imgs/winter4.jpg", alt="")
      img(src="./assets/imgs/winter5.jpg", alt="")
      img(src="./assets/imgs/winter6.jpg", alt="")
    .pic-spring 
      img(src="./assets/imgs/spring1.jpg", alt="")
      img(src="./assets/imgs/spring2.jpg", alt="")
      img(src="./assets/imgs/spring3.jpg", alt="")
      img(src="./assets/imgs/spring4.jpg", alt="")
      img(src="./assets/imgs/spring5.jpg", alt="")
      img(src="./assets/imgs/spring6.jpg", alt="")
    .pic-summer 
      img(src="./assets/imgs/summer1.jpg", alt="")
      img(src="./assets/imgs/summer2.jpg", alt="")
      img(src="./assets/imgs/summer3.jpg", alt="")
      img(src="./assets/imgs/summer4.jpg", alt="")
      img(src="./assets/imgs/summer5.jpg", alt="")
      img(src="./assets/imgs/summer6.jpg", alt="")
    .pic-autumn 
      img(src="./assets/imgs/autumn1.jpg", alt="")
      img(src="./assets/imgs/autumn2.jpg", alt="")
      img(src="./assets/imgs/autumn3.jpg", alt="")
      img(src="./assets/imgs/autumn4.jpg", alt="")
      img(src="./assets/imgs/autumn5.jpg", alt="")
      img(src="./assets/imgs/autumn6.jpg", alt="")



