include ../mixins/name-section.pug
include ../mixins/price-item.pug

.price#price
  +name-section("Price", "price")
  .price-cards
    +price-item("Standard", "500 $", "One location", "120 photos in color", "12 photos in retouch", "Readiness 2-3 weeks", "Make up, visage", "Order shooting", "price-description-1-span-1", "price-description-1-span-2", "price-description-1-span-3", "price-description-1-span-4", "price-description-1-span-5", "order",)
    +price-item("Premium", "700 $", "One or two locations", "200 photos in color", "20 photos in retouch", "Readiness 1-2 weeks", "Make up, visage", "Order shooting", "price-description-2-span-1", "price-description-2-span-2", "price-description-2-span-3", "price-description-2-span-4", "price-description-2-span-5", "order",)
    +price-item("Gold", "1000 $", "Three locations or more", "300 photos in color", "50 photos in retouch", "Readiness 1 week", "Make up, visage, hairstyle", "Order shooting", "price-description-3-span-1", "price-description-3-span-2", "price-description-3-span-3", "price-description-3-span-4", "price-description-3-span-5", "order",)
