include ../mixins/name-section.pug
include ../mixins/skills-item.pug


.skills#skills 
  +name-section("Skills", "skills")

  .skills-items 
    +skills-item("./assets/imgs/camera.svg", "Digital photography", "High-quality photos in the studio and on the nature", "skill-title-1", "skill-text-1")
    +skills-item("./assets/imgs/video.svg", "Video shooting", "Capture your moments so that they always stay with you", "skill-title-2", "skill-text-2")
    +skills-item("./assets/imgs/image.svg", "Retouch", "I strive to make photography surpass reality", "skill-title-3", "skill-text-3")
    +skills-item("./assets/imgs/mic.svg", "Audio", "Professional sounds recording for video, advertising, portfolio", "skill-title-4", "skill-text-4")

