html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio
    link(rel="stylesheet" href="./assets/css/app.css")
    
  body
    .container
      include ../components/header.pug
      include ../components/skills.pug
      include ../components/portfolio.pug
      include ../components/video.pug
      include ../components/price.pug
      include ../components/contact.pug
      include ../components/footer.pug
      include ..../index.js
      
      

      

      